<h2>Create a new profile</h2>

  <h3>Basic Informations</h3>
 

<%= form_for([resource_name, resource.with_address], url: registration_path(resource_name), id: 'form_user_register') do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="col-md-8">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: 'form-control', autofocus: true%>
    </div>

    <div class="col-md-2">
      <%= f.label :cpf %><br />
      <%= f.text_field :cpf, class: 'form-control' %>
    </div>

    <div class="col-md-2">
      <%= f.label :birth_date %><br />
      <%= f.date_field :birth_date, class: 'form-control' %>
    </div>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email,  autocomplete: "email", class: 'form-control' %>
  </div>

  <br/>
  <div class="row"  data-controller='user' data-user-salary-value="salary">
    <div class="col-md-6">
      <%= f.label :salary %><br />
      <%= f.text_field :salary, class: 'form-control', data:{action:"input->user#update", user_target:"input"}%>
    </div>

    <div class="col-md-6" data-user-target="form" >
      <%= f.label "Estimated value for INSS discount" %><br />
      <%= f.text_field :total_inss_discount, class: 'form-control', data:{ user_target:"output", user_discount_value:"discount"}%>
    </div>
  </div>


  <br/>
  <h5>Address</h5>

  <%= f.fields_for :address do |address_form| %>

    <div class="row">
      <div class="col-md-5">
        <%= address_form.label :street %><br />
        <%= address_form.text_field :street, class: 'form-control' %>
      </div>

      <div class="col-md-3">
        <%= address_form.label :number %><br />
        <%= address_form.text_field :number, class: 'form-control' %>
      </div>


      <div class="col-md-4">
        <%= address_form.label :district %><br />
        <%= address_form.text_field :district , class: 'form-control'%>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= address_form.label :district %><br />
        <%= address_form.text_field :district , class: 'form-control'%>
      </div>

      <div class="col-md-4">
        <%= address_form.label :city %><br />
        <%= address_form.text_field :city, class: 'form-control' %>
      </div>

      <div class="col-md-2">
        <%= address_form.label :state %><br />
        <%= address_form.text_field :state, class: 'form-control' %>
      </div>

      <div class="col-md-2">
        <%= address_form.label :zip_code %><br />
        <%= address_form.text_field :zip_code, class: 'form-control' %>
      </div>

    </div>
  <% end %>

   <h5>Contacts</h5>

  <div class="row"  data-controller='nested-form' nested_form_wrapper_selector_value='.nested-form-wrapper' >
    <div class="col-md-6">
    <template data-nested-form-target="template">
      <%= f.fields_for :contacts, Contact.new,child_index: 'NEW_RECORD' do |contacts_form| %>
        <%= render "partials/contact_form", f: contacts_form %>
      <% end %>
    </template>

    <%= f.fields_for :contacts do |contacts_form| %>
      <%= render "partials/contact_form", f: contacts_form %>
    <% end %>

    <div data-nested-form-target="target"></div>

    <button type="button" data-action="nested-form#add"  class='btn btn-primary'>Add todo</button>
    </div>
  </div>
  <br/>

  <h5>Password</h5>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="col-md-3">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>
  </div>


  <br/>

  <div class="row">
    <div class="actions col-md-6">
      <%= render "devise/shared/links" %>
    </div>
    <div class="actions col-md-6">
      <%= f.submit "Sign up", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

